<div class="row">
	<div class="col-lg-3"></div>
		<div class="comment-edit col-lg-6">
			<div class="comment-edit-content">
				<p><b><%= @comment.user.nickname %>さんのコメント編集</b></p>
				<%= form_for [@post, @comment], url: admin_post_comment_path(post_id: @post.id), method: :patch do |f| %>
					<%= f.text_area :comment_body, size: '50x5', placeholder: "コメントをここに", class:"form-control" %>
					<div class="comment-submit">
						<%= f.submit "編集", class:"btn btn-info" %>
					</div>
				<% end %>
			</div>
			<br>
			<p class="admin-top-link"><%= link_to 'ユーザーの詳細へ戻る', admin_user_path(@comment.user.id) %></p>
		</div>
	</div><!-- comment-edit-container -->
	<div class="col-lg-3"></div>
</div><!-- row_end -->
