<h2>登録食品一覧</h2>
<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>
<hr>

<%= link_to "新規登録", new_admin_food_path %>

<table>
		<tr>
			<th>食品名</th>
			<th>食品の分類</th>
			<th>色の分類</th>
		</tr>
	<% @foods.each do |food| %>
		<tr>
			<td><%= food.food_item %></td>
			<td><%= food.food_category %></td>
			<td><%= food.food_color %></td>
			<td><%= link_to '編集', edit_admin_food_path(food) %></td>
			<td><%= link_to '削除', admin_food_path(food), method: :delete %></td>
	    </tr>
    <% end %>
</table>