<%= form_for(meal, url: url ) do |f| %>

<div>
	<%= f.label :ate_date, '日付' %>
	<%= f.date_select(:ate_date, use_month_numbers: true) %>
</div>

<div>
	<%= f.label :ate_time, '時間' %>
	<%= f.time_select :ate_time %>
</div>

<div>
	<p>
		<%= f.label :meal_item, '食事項目' %><br>
		<%= f.select :meal_item, [["朝食", "朝食"],["昼食", "昼食"],["夕食", "夕食"],["夜食", "夜食"],["間食", "間食"],["飲酒", "飲酒"]],{include_blank: "選択してください"} %>
	</p>
</div>

<div>
	<p><%= f.label :meal_image_id, '食事の写真' %></p>
	<p><%= attachment_image_tag meal,:meal_image, :fill,60,60,fallback: "no_image.jpg" %></p>
	<%= f.attachment_field :meal_image %>

<!-- 	選択した画像を表示する -->
	<script>
		function onChange(event){
			var file = event.target.files[0];
			var reader = new FileReader();
			reader.onload = function(event) {
				console.log(event.target.result)
			};
			reader.readAsTest(file);
		}
	</script>
</div>

<div>
	<%= f.label :meal_text, '食事メモ' %>
	<br>
	<%= f.text_area :meal_text, size:"20x10" %>
</div>


<hr>

<p>1食のバランスチェック</p>

<p>※<%= link_to '食事の目安量について', user_meal_indication_path%></p>

<div>
	<p>主食</p>
	<div>
		<% @kind = "主食" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point  %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>


<div>
	<p>主菜</p>
	<div>
		<% @kind = "主菜" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>


<div>
	<p>副菜</p>
	<div>
		<% @kind = "副菜" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>


<div>
	<p>果物</p>
	<div>
		<% @kind = "果物" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>


<div>
	<p>牛乳・乳製品</p>
	<div>
		<% @kind = "牛乳・乳製品" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>

<div>
	<p>油脂</p>
	<div>
		<% @kind = "油脂" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>

<div>
	<p>嗜好品</p>
	<div>
		<% @kind = "嗜好品" %>
		<%= f.fields_for :food_points do |food_point| %>
			<%= render "food_point_fields", f: food_point %>
		<% end %>
	</div>
	<div>
		<%= link_to_add_association "食品を追加", f, :food_points %>
	</div>
</div>


</div>

<%= f.submit @text %>


<% end %>