<h2>食事一覧</h2>

<% @meals.each do |meal| %>
	<div>
		<%= meal.ate_date %>
		<%= meal.ate_time %>
		<%= meal.meal_item %>
		<%= meal.meal_image %>
		<%= meal.meal_text %>
    </div>
    <% meal.food_points.each do |food_point| %>
    	<% food_point.food.food_item %>
    	<% food_point.point %>
    <% end%>
<% end %>
