<%= render 'user/users/nav' %>


<p class="headline">食事の目安量</p>
<div class="row">
	<div class="col-lg-3"></div>

	<div class="about-page col-lg-6">
		<div class="about-contents">

			<div class="meal-about-content">
				<p><span class="icon"><%= image_tag 'icon_rice.png'%></span>
					<b>主食</b>
				</p>
				<p>含まれる主な栄養素：<b>炭水化物</b></p>
				<p>【 普通の量 】</p>
				<p><b>ご飯</b>：1食あたり片手におさまる程度</p>
				<p><b>パン</b>：1食あたり両手におさまる程度</p>
				<p><b>麺</b>：1食あたり片手におさまる程度</p>
				<p><b>いも</b>：1食あたりこぶしの大きさ程度</p>
			</div>

			<hr>


			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_fish.png'%></span>
					<b>主菜</b>
				</p>
				<p>含まれる主な栄養素：<b>たんぱく質</b></p>
				<p>【 普通の量 】</p>
				<p><b>肉類</b>：1食あたり片手におさまる程度</p>
				<p><b>魚類</b>：1食あたり片手におさまる程度</p>
				<p><b>卵</b>：1食あたり1個程度</p>
				<p><b>大豆・大豆製品</b>：1食あたり片手におさまる程度</p>
				<p>※脂質も多いので食べ過ぎないように注意が必要です</p>
			</div>

			<hr>

			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_carrot.png'%></span>
					<b>副菜</b>
				</p>
				<p>含まれる主な栄養素：<b>ビタミン・ミネラル</b></p>
				<p>野菜・きのこ・海藻は不足しがちなので、意識してとりましょう</p>
				<p>【 普通の量 】</p>
				<p><b>生野菜</b>：1食あたり両手いっぱい程度</p>
				<p><b>温野菜</b>：1食あたり片手いっぱい程度</p>
				<p>きのこ・海藻の量は特に制限はありません</p>
			</div>

			<hr>

			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_milk.png'%></span>
					<b>牛乳・乳製品</b>
				</p>
				<p>含まれる主な栄養素：<b>たんぱく質、ミネラル</b></p>
				<p>【 普通の量 】</p>
				<p><b>牛乳</b>：<b>1日あたり</b>コップ1杯程度（普通牛乳120mL）</p>
				<p><b>ヨーグルト</b>：<b>1日あたり</b>カップ1個程度（120g）</p>
			</div>

			<hr>

			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_apple.png'%></span>
					<b>果物</b>
				</p>
				<p>含まれる主な栄養素：<b>ビタミン</b></p>
				<p>【 普通の量 】</p>
				<p><b>1日あたり</b>片手におさまる程度</p>
				<p>例：みかん：2個、もも・かき：1個、りんご・なし：半分</p>
				<p>※炭水化物も多いので、食べ過ぎないように注意が必要です</p>
			</div>


			<hr>

			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_mayo.png'%></span>
					<b>油脂</b>
				</p>
				<p>含まれる主な栄養素：<b>脂質</b></p>
				<p>【 普通の量 】</p>
				<p><b>揚げ物</b>：1食あたり片手におさまる程度</p>
				<p><b>ドレッシング類</b>：1食あたり小スプーン1杯以内</p>
				<p><b>バター・マーガリン</b>：1食あたり小スプーン1杯以内</p>
				<p><b>ナッツ</b>：1食あたり10粒程度</p>
			</div>


			<hr>

			<div class="meal-about-content">
				<p>
					<span class="icon"><%= image_tag 'icon_cake.png'%>
					<b>嗜好品</b>
				</p>
				<p>お菓子類：<b>1日あたり</b>片手におさまる程度</p>
				<p>お酒：<b>1日あたり</b>ビール350mL、日本酒1合程度</p>
			</div>

			<div class="meal_indication-page-link">
				<%= link_to '1食の食事記録ページへ戻る', new_user_meal_path %>
			</div>
		</div>
	</div>
	<div class="col-lg-3"></div>
</div>


