<div class="row">
	<div class="article-container col-lg-9">
		<div class="article-item row">
			<div class="article-item-in">
				<div class="col-lg-6">
					<p><b><%= @article.article_title %></b></p>
					<p><%= @article.article_genre.genre_name %></p>
					<div class="atricle-image">
						<%= attachment_image_tag @article, :article_image, :fill, 300, 250, format: 'jpeg', fallback: "no_image.jpg", size: '300x250' %>
					</div>
					<div class="atricle-date">
						<p><%= @article.created_at.strftime('%Y/%m/%d') %></p>
				    </div>
				</div>
				<div class="article-text col-lg-6">
					<p><%= safe_join(@article.article_body.split("\n"),tag(:br))%></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<%= render 'user/articles/nav' , genres: @genres %>
	</div>
</div>