<p class="headline">記事の編集</p>

<div class="row">
  <div class="col-lg-3"></div>
    <div class="col-lg-6">

		<div>
			<% if @article.errors.any? %>
			  <%= @article.errors.count %>error!
			  <% @article.errors.full_messages.each do |message| %>
			    <%= message %>
			  <% end %>
			<% end %>
		</div>

		<div class="article-form">
			<%= form_for(@article, url: admin_article_path(@article.id) ,method: :patch) do |f| %>
        		<div class="article-form-item">
        			<%= f.label :タイトル %>
					<%= f.text_field :article_title, class:"form-control" %>
        		</div>
        		<div class="article-form-item">
        			<%= f.label :ジャンル %>
					<%= f.collection_select :article_genre_id, ArticleGenre.all, :id, :genre_name, {prompt: true}, class:"form-control" %>
        		</div>
        		<div class="article-form-item">
        			<div>
						<% if request.path_info.include?('edit') %>
							<p><b>登録済みの写真</b></p>
							<%= attachment_image_tag @article, :article_image, :fill, 250,200, format: 'jpeg', fallback: "no_image.jpg", size: '250x200' %>
						<% end %>
					</div>
					<br>
        			<div>
	        			<%= f.label :投稿画像 %><br>
						<img id="preview" width="250" height="200">
						<%= f.file_field :article_image, id:"myImage" %>
					</div>
        		</div>
        		<div class="article-form-item">
					<%= f.label :本文 %><br>
					<%= f.text_area :article_body, size: "80x10", class:"form-control" %>
        		</div>
        		<div class="article-submit">
        			<%= f.submit "編集", class:"btn btn-info" %>
        		</div>
			<% end %>
			<br>
			<p class="admin-top-link"><%= link_to 'トップへ戻る', admin_home_top_path %></p>
		</div>
    </div>
  <div class="col-lg-3"></div>
</div><!-- row_end -->

<script>
	$('#myImage').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
	});
</script>