<h1>お問いあわせ一覧</h1>

<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>

<% @contacts.each do |contact| %>
	<%= link_to admin_contact_path(contact.id) do %>
		<p>名前：<%= contact.last_name %><%= contact.first_name %></p>
		<p>フリガナ：<%= contact.last_name_ruby %><%= contact.first_name_ruby %></p>
		<p>メールアドレス：<%= contact.email %></p>
		<p>お問い合わせ内容：<%= contact.contact_body %></p>
		<p><%= contact.created_at.strftime('%Y/%m/%d') %></p>
		<p><%= contact.created_at.strftime('%R') %></p>
		<p><b><%= contact.status %></b></p>
	<% end %>
	<hr>
<% end %>