<p class="headline">お問い合わせ一覧</p>

<div class="row">
	<div class="col-lg-1"></div>
	<div class="admin-user-list col-lg-10">
		<p class="admin-top-link"><%= link_to 'トップへ戻る', admin_home_top_path %></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>日付</th>
					<th>時間</th>
					<th>お名前</th>
					<th>フリガナ</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @contacts.each do |contact| %>
					<tr>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<%= contact.created_at.strftime('%Y/%m/%d') %>
							<% end %>
						</td>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<%= contact.created_at.strftime('%R') %>
							<% end %>
						</td>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<%= contact.last_name %><%= contact.first_name %>
							<% end %>
						</td>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<%= contact.last_name_ruby %><%= contact.first_name_ruby %>
							<% end %>
						</td>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<%= contact.email %>
							<% end %>
						</td>
						<td>
							<%= link_to admin_contact_path(contact.id) do %>
								<b><%= contact.status %></b>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div><!-- admin-user-list col-lg-10 -->
	<div class="col-lg-1"></div>
</div><!-- row_end -->