<p class="headline"><%= @post.user.last_name %><%= @post.user.first_name %>さんの投稿編集ページ</p>

<div class="row">
	<div class="col-lg-3"></div>

	<div class="new-post-container col-lg-6">
		<div>
			<% if @post.errors.any? %>
			<%= @post.errors.count %>error!
			<% @post.errors.full_messages.each do |message| %>
			<%= message %>
			<% end %>
			<% end %>
		</div>

		<div class="post-form">
			<%= form_for(@post, url: admin_post_path(@post), method: :patch ) do |f| %>
					<div class="post-form-image">
						<label>投稿画像</label>
						<br>
						<%= f.attachment_field :post_image %>
					</div>

					<div class="post-form-target">
						<label>目標</label>
						<br>
						<% current_user.targets.each do |u| %>
						<%= f.radio_button :post_target, u.target_body %>
						<%= u.target_body %>
						<br>
						<% end %>
					</div>

					<div class="post-form-text">
						<label>テキスト</label>
						<br>
						<%= f.text_area :post_body, size:'50x5', class:"form-control" %>
					</div>

					<div class="post-submit">
						<%= f.submit "編集する", class:"btn btn-info" %>
					</div>
			<% end %>
			<br>
			<p class="admin-top-link"><%= link_to 'ユーザーの詳細へ戻る', admin_user_path(@post.user.id) %></p>
        	<p class="admin-top-link"><%= link_to 'ユーザー一覧へ戻る', admin_users_path %></p>
		</div>
	</div><!-- new-post-container -->
	<div class="col-lg-3"></div>
</div><!-- row_end -->
