<h3><%= @user.last_name + @user.first_name %>さんの投稿編集</h3>


	<div>
		<label>投稿画像</label>
	    <br>
	    <%= f.attachment_field :post_image %>
	</div>

	<div>
		<label>目標</label>
		<br>
		<% current_user.targets.each do |u| %>
			<%= f.radio_button :post_target, u.target_body %>
			<%= u.target_body %>
			<br>
		<% end %>
	</div>

		<div>
		<label>つぶやき</label>
		<br>
		<%= f.text_area :post_body %>
	</div>

		<hr>
	<%= f.submit "編集する" %>
<% end %>