<!-- フォロー、フォロワー機能の部分テンプレート -->

<!-- フォロー、フォロワーの統計表示する -->
<div>
	<a href = "<%= following_user_user_path(user) %>" %>
		<%= user.following.count %>フォロー
	</a>
	/
	<a href = "<%= followers_user_user_path(user) %>" %>
		<%= user.followers.count %>フォロワー
	</a>
</div>

<!-- フォローをやめる/フォローをするのボタンを表示する -->
<% if current_user != user %>
	<% if Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
			<%= link_to "フォローをやめる", user_user_relationships_path(user.id), method: :delete, remote: true %>
	<% else %>
            <%= link_to "フォローする", user_user_relationships_path(user.id), method: :post, remote: true %>
	<% end %>
<% end %>
