<%= render 'nav' %>

<hr>

<h2><%= @date[0] %>年<%= @date[1] %>月<%= @date[2] %>日の食事一覧</h2>


<p><%= link_to 'マイページへ戻る', user_my_page_path(current_user.id) %></p>
<hr>

<% @meals.each do |meal| %>
	<p>登録日：<%= meal.ate_date.strftime('%Y/%m/%d') %></p>
	<p>項目：<b><%= meal.meal_item %></b></p>
	<p>時間：<%= meal.ate_time.strftime('%R') %>
	<p><%= attachment_image_tag meal, :meal_image, :fill, 200, 150, fallback: "no_image.jpg", size:'200x150' %>
	</p>
	<p>食事メモ：<%= meal.meal_text %></p>
	<p>食品項目と分量：
		<br>
		<% meal.food_points.each do |food_point| %>
			<%= food_point.food.food_item %>：
			<% if food_point.point == 1 %>
				<%= "少ない" %>
			<% elsif food_point.point == 2 %>
				<%= "やや少ない" %>
			<% elsif food_point.point == 3 %>
				<%= "ふつう" %>
			<% elsif food_point.point == 4 %>
				<%= "やや多い" %>
			<% elsif food_point.point == 5 %>
				<%= "多い" %>
			<% end %>
			<br>
		<% end %>

	</p>
	<p><%= link_to '編集', edit_user_meal_path(meal.id) %></p>
	<p><%= link_to '削除', user_meal_path(meal.id), method: :delete %></p>
<hr>
<% end %>

<p><%= link_to 'マイページへ戻る', user_my_page_path(current_user.id) %></p>


<div>
	<%= form_tag user_daily_meal_balance_path(current_user.id), method: :get do %>
	　	<%= hidden_field_tag :date, @_date %>
		<%= submit_tag  "#{@date[0]}年#{@date[1]}月#{@date[2]}日" %>のバランスチェックする
	<% end %>
	<p><%= @date_display %></p>
</div>

