<h2><%= @date %>の栄養バランス</h2>

<p><%= link_to 'マイページへ戻る', user_my_page_path(current_user) %></p>

<h3>栄養バランス</h3>
<p>※レーダーチャートを表示させる</p>

<% @yellow_food_points = 0 %>
<% @red_food_points = 0 %>
<% @green_food_points = 0 %>

<p>黄色の食品の合計点数<%= @yellow_food_points %></p>
<p>赤色の食品の合計点数<%= @red_food_points %></p>
<p>緑色の食品の合計点数<%= @green_food_points %></p>
<% binding.pry %>

<canvas id="graph" width="500px" height="500px"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js">
	$(function(){
		var drawGraph = function(data){
			var ctx = document.getElementById('graph').getContext('2d');

			var data1 = {
				label:'適正量',
				data: data[1],
				backgroundColor: "rgba(250, 50, 50, 0.3)",
				borderColor: "rgba(200, 50, 50, 0.3)",
				pointHoverBackgroundColor: "rgba(200, 50, 50, 0.3)",
				pointHoverBorderColor: "rgba(200, 50, 50, 0.3)",
			};

			var data2 = {
				label:'1日の食事',
				data: data[2],
				backgroundColor: "rgba(50, 50, 250, 0.3)",
				borderColor: "rgba(50, 50, 200, 0.3)",
				pointHoverBackgroundColor: "rgba(50, 50, 200, 0.3)",
				pointHoverBorderColor: "rgba(50, 50, 200, 0.3)",
			}

			var label = data[0];

			var config = {
				type: 'radar',
				data: { labels: label, datasets: [data1,data2]},

				  options: {
				  	legend: {
				  		position: 'left',
				  	},

				  	responsive: true,

				  	scale: {
				  		pointLabels: {
				  			fontSize: 15,
				  		},
				  		ticks: {
				  			stepSize: 10,
				  			beginAtZero: true,
				  			min: 0,
				  			max: 100,
				  		}
				  	}

				  }
			}

			var myChartGraph = new Chart(ctx, config);
		};

		var data = [['黄色','赤色','緑色'],
					[18, 12, 12],
					[@yellow_food_points, @red_food_points, @green_food_points]]
		drawGraph(data);
	})

</script>


<hr>




<h3>食事アドバイス</h3>
<p>※食品分類や食品項目の各点数の合計値によって表示を変える<br>
(もう少し食べましょう。ちょうどいい量です。食べ過ぎです。など)</p>

<hr>

<h3><%= @date %>の食事一覧</h3>
<% @meals.each do |meal| %>
	<p>項目：<b><%= meal.meal_item %></b></p>
	<p>時間：<%= meal.ate_time.strftime('%R') %>
	<p><%= attachment_image_tag meal, :meal_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
	</p>
	<p>食事メモ：<%= meal.meal_text %></p>
	<hr>
<% end %>


<p><%= link_to 'マイページへ戻る', user_my_page_path(current_user) %></p>





