<h4><%= current_user.nickname %>さんのプロフィール登録</h4>

<%= link_to '投稿のマイページへ戻る', user_user_path(current_user.id) %>

<%= form_for(@user, url: user_user_path(current_user.id), method: :patch )do |f| %>
<!-- ニックネームのフォームもいる？ -->
	<div>
		<p><%= f.label :profile_image, 'プロフィール画像' %></p>
		<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg" %></p>
		<p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
	</div>

	<div>
		<p>目標</p>
		<%= f.fields_for :targets do |target| %>
			<%= render "target_fields", f: target %>
		<% end %>

		<div class="links">
			<p><%= link_to_add_association "目標を追加", f, :targets %></p>
		</div>
	</div>

	<div>
		<p><%= f.label :introduction, '自己紹介' %>
		<br>
		<%= f.text_area :introduction, size:"30x2", placeholder:"自己紹介を入力してください"%></p>
	</div>
	<%= f.submit "登録する" %>
<% end %>