<p>※ナビかサイドバーで表示</p>
<P><%= link_to 'マイページ', user_my_page_path %></P>
<p><%= link_to '１食の食事記録', new_user_meal_path %></p>
<p><%= link_to 'マイデータ', user_my_data_path(current_user.id) %></p>
<p><%= link_to '設定変更', user_setting_changing_path(current_user.id) %></p>

<hr>

<h2>マイページ</h2>



<div>
   <p>食事一覧※カレンダー表示させる</p>

   <div id="calendar"></div>


	<ul>
		<% @meals.each do |meal| %>
			<li><%= form_tag user_daily_meal_path(current_user.id), method: :get do %>
				  <%= submit_tag "#{meal.ate_date}" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

  <script>

   	$(document).ready(function() {
	    $('#calendar').fullCalendar({
	        editable: true,
	        events: gon.json
	    });
	});
   </script>