<p class="headline">管理者トップページ</p>

<div class="row">
	<div class="col-lg-3"></div>
	<div class="admin-top-page col-lg-6">
		<div>
			<div>
				<%= link_to 'ユーザー一覧' , admin_users_path, class:"btn btn-default" %>
			</div>
			<div>
				<%= link_to 'お問い合わせ一覧', admin_contacts_path, class:"btn btn-default" %>
			</div>
			<div>
				<%= link_to '食品の新規登録', new_admin_food_path, class:"btn btn-default"%>
			</div>
			<div><%= link_to '食品一覧', admin_foods_path, class:"btn btn-default" %></div>
			<div><%= link_to '記事の投稿一覧', admin_articles_path, class:"btn btn-default" %></div>
			<div><%= link_to '記事の新規投稿', new_admin_article_path, class:"btn btn-default" %></div>
			<div><%= link_to '記事のジャンル一覧', admin_article_genres_path, class:"btn btn-default" %></div>
			<div><%= link_to '記事のジャンル登録', new_admin_article_genre_path, class:"btn btn-default" %></div>
	    </div>
	</div>
	<div class="col-lg-3"></div>
</div>













