<h2>管理者トップページ</h2>


<p><%= link_to 'ユーザー一覧' ,admin_users_path %></p>
<p><%= link_to 'お問い合わせ一覧', admin_contacts_path %></p>
<p><%= link_to '食品の新規登録', new_admin_food_path %></p>
<p><%= link_to '食品一覧', admin_foods_path %></p>
<p><%= link_to '記事の投稿一覧', admin_articles_path %></p>
<p><%= link_to '記事の新規投稿', new_admin_article_path %></p>
<p><%= link_to '記事のジャンル一覧', admin_article_genres_path %></p>
<p><%= link_to '記事のジャンル登録', new_admin_article_genre_path %></p>










