<h3>投稿の詳細</h3>

<p><%= link_to '投稿一覧へ戻る', user_posts_path %></p>

<% if @post.errors.any? %>
  <%= @post.errors.count %>error!
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div>
	<p>プロフィール画像：
	<%= link_to user_user_path(@post.user.id) do %>
		<%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50' %><br>ニックネーム：<%= @post.user.nickname %></p>
	<% end %>
</div>

<div>
	<%= attachment_image_tag @post, :post_image, :fill, 200, 200, fallback: "no_image.jpg" %>
</div>

<div>
	<p>目標</p>
	<%= @post.post_target %>
</div>

<div>
	<p>つぶやき</p>
	<%= @post.post_body %>
</div>

<div id="favorites_buttons_<%= @post.id %>">
	<%= render partial: 'user/posts/favorite', locals: {post: @post}%>
</div>

<div id="cheers_buttons_<%= @post.id %>">
	<%= render partial: 'user/posts/cheer', locals: {post: @post} %>
</div>


<div>
	<p><%= @post.comments.count %>件のコメント</p>
</div>


<div>
	<% if @user.id == current_user.id %>
		<p><%= link_to '編集', edit_user_post_path(@post.id) %><br>
			<%= link_to '削除', user_post_path(@post.id), method: :delete %></p>
	<% end %>
</div>

<div>
	<%= @post.created_at.strftime('%Y/%m/%d') %>
	<%= @post.created_at.strftime('%R') %>
</div>



<hr>


<div>
	<% if @user.id != current_user.id %>
		<h5>コメント投稿フォーム</h5>
		<%= form_for [@post, @comment], url: user_post_comments_path(post_id: @post.id), mthod: :post do |f| %>
			<%= f.text_area :comment_body, size: '50x5', placeholder: "コメントをここに" %>
			<br>
			<%= f.submit "送信する" %>
		<% end %>
	<% end %>
</div>


<hr>


<h4>コメント一覧</h4>
<% @comments.each do |comment| %>
	<div class="user_profile_image">
		<p>ユーザーのプロフィール画像<%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50' %><br>ユーザーのニックネーム：<%= comment.user.nickname %></p>
	</div>
	<div class="comment-text">
		<p>コメント本文：<%= comment.comment_body %></p>
		<p>コメント日：<%= comment.created_at.strftime('%Y/%m/%d') %></p>
		<p>コメント時間：<%= comment.created_at.strftime('%R') %></p>
	</div>
	<div>
		<% if comment.user.id == current_user.id %>
			<p><%= link_to "編集する", edit_user_post_comment_path(comment.post.id, comment.id) %></p>
			<p><%= link_to "削除する", user_post_comment_path(comment.post.id,comment.id), method: :delete %></p>
		<% end %>
	</div>
<% end %>


<div>
</div>

