<p><%= link_to 'トップへ戻る', admin_home_top_path %></p>

<h2>（管理者）<%= @user.last_name %><%= @user.first_name %>さん<%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: '30x30' %>の詳細ページ</h2>


<p><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50' %></p>
<p>名前：<%= @user.last_name %><%= @user.first_name %></p>
<p>ニックネーム：<%= @user.nickname %></p>

<p><%= link_to '情報編集', edit_admin_user_path(@user) %></p>
<p><%= link_to '投稿一覧', admin_user_post_list_path(@user) %></p>
<p><%= link_to 'コメント一覧', admin_user_comments_path(@user) %></p>


<p><%= link_to '削除', admin_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>